<div class="card">
  <div class="container">
    <div class="front">

      <%= image_tag @image.photo.url, class:"image-show", size:"400x300" %>
    </div>
    <div class="back">
      <h5><%= @image.description %></h5>

      <%= link_to "Edit", edit_image_path(@image) %>
      <%= link_to "Delete", image_path(@image), method: :delete,
      data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</div>
</div>
<%= render "comments/show" %>
</div>
