<div class="card">
  <div class="container">
    <div class="front">

      <%= image_tag @image.photo.url, class:"image-show", size:"400x300" %>
    </div>
    <div class="back">
      <h5><%= @image.description %></h5>
      <% if current_user == @image.user || current_user.admin? %>
      <%= link_to "Edit Image", edit_image_path(@image) %>
      <%= link_to "Delete Image", image_path(@image), method: :delete,
      data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>
<%= link_to "Leave a Comment", new_image_comment_path(@image) %>
</div>
</div>
<%= render "comments/show" %><br>
</div>
