<!DOCTYPE html>
<html>
<head>
  <title>Images</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Images</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <% if current_user && current_user.admin? %>
          <li><%= link_to 'Add Image', new_image_path %></li>
          <% end %>
        <% if current_user %>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= yield :extra_footer %>

</body>
<footer id="footer">
  <div class="social">
    <a href="https://linkedin.com/diegotrus7"><i class="fa fa-linkedin-square fa-2x"></i></a>
    <a href="https://www.facebook.com/diego.desouza.9809"><i class="fa fa-facebook-official fa-2x"></i></a>
    <a href="https://twitter.com/DiegoTrus7"><i class="fa fa-twitter-square fa-2x"></i></a>
    <a herf="https://github.com/diegodesouza"><i class="fa fa-github-square fa-2x"></i></a>
  </div>
</footer>
</div>
</html>
